{% extends 'posts/base.html' %}
{% block title %}Sign In{% endblock %}
{% block nav %}
    {% if user.is_authenticated %}
        <span>{{ user.username }}</span>
        <a href="{% url 'sign_out' %}">Sign out</a>
    {% else %}
        <a href="{% url 'sign_up' %}">Register</a>
    {% endif %}
    <a class="add_post" href="{% if user.is_authenticated %}{% url 'add_post' %}{% else %}{% url 'sign_in' %}{% endif %}"{% if not user.is_authenticated %} onclick="alert('Sign in to post')"{% endif %}><i class="fa-solid fa-pen"></i>Post</a>

{% endblock %}
{% block content %}
<div class="container-si">
    <h1>Sign in</h1>
    <form class="sign-in-form" method="post">
        {% csrf_token %}
        <div class="form-field">
              {{ form.non_field_errors }}
              {{ form.username.label_tag }}
              {{ form.username }}
              {{ form.username.errors }}
        </div>
        <div class="form-field">
              {{ form.password.label_tag }}
              {{ form.password }}
              {{ form.password.errors }}
        </div>
        <button type="submit">Sign in</button>
        <p>No account yet? <a href="{% url 'sign_up' %}">Register now!</a></p>
    </form>
    
</div>
{% endblock %}